#products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
  padding-block: 20vh;
  background-color: #ffffff;
}
#products h1 {
  font-family: "Alfa Slab One";
  letter-spacing: 2px;
  color: #3d2514;
  font-size: 3rem;
}

#products p {
  color: #3d2514;
  font-size: 2.5rem;
  margin-top: -1.5rem;
  margin-bottom: 3.5rem;
}
.a-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.a-box {
  position: relative;
  background-color: #ffffff;
  width: fit-content;
  padding: 2rem;
  margin: 20px;
  border-radius: 1rem;
  overflow: hidden;
  transition: 400ms ease-in-out;
}
.a-b-img {
  width: 100%;
  height: 60%;
}
.a-b-img img {
  padding: 15px;
  margin-top: 40px;
  width: 100%;
  height: 100%;
}
.a-box:hover {
  box-shadow: var(--drop-shadow);
}
.a-b-text {
  width: 100%;
  height: 40%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.a-b-text h2 {
  color: #3d2514;
}

.a-b-text h4 {
  margin-top: -15px;
}

.productbox-button:hover {
  background-color: transparent;
  transition: all ease 0.5s;
  color: #3d2514;
  border: 2px solid #3d2514;
}
